@model IEnumerable<Product>

@{
    List<Category> categories = ViewData["Categories"] as List<Category>;
}

<head>
    <link rel="stylesheet" href="~/css/filter.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>

<div class="d-flex justify-content-center center-div flex-wrap border-0 p-0 scroller">
    @foreach (var category in categories)
    {
        <h6 class="col-md-12 filter-div bg-light"> @category.Name </h6>
        foreach (var product in Model)
        {
            if (product.CategoryID == category.categoryID)
            {
                <form class="col-md-3 filter-div bg-light">
                    <h5>@Html.DisplayFor(name =>product.Name)</h5>
                    <img src="@Url.Content("~/images/"+product.MainPhotoName)" class="infocard-img" alt="">
                    <h6>@Html.DisplayFor(price => product.Price)</h6>
                    <h9>@Html.DisplayFor(price => product.Description)</h9>
                    <br/>
                    <button id="addButton" class="btn btn-outline-primary justify-content-center flex-wrap"
                         asp-controller="Home" asp-action="Download" asp-route-id=@product.ID>
                        Download
                    </button>

                    <button id="addButton" class="btn btn-outline-primary justify-content-center flex-wrap"
                         asp-controller="Home" asp-action="AddToCart" asp-route-id=@product.ID>
                        Add to Cart
                    </button>
                </form>
            }
        }
    }

</div>